<div id="left">
  <div class="step">
    <span class="number">1</span>
    <span class="text">Tweet from within the app.</span>
  </div> <!-- div.step -->
  <div class="step">
    <span class="number">2</span>
    <span class="text">Relax. We'll post your thoughts as our own.</span>
  </div> <!-- div.step -->
  <div class="step">
    <span class="number">?</span>
    <span class="text">Great for spreading your word to a larger audience, SEO, venting, crushing, starting fierce conversations, and more.</span>
  </div> <!-- div.step -->
</div> <!-- div#left -->

<div id="right">
  <div class="button">
    <%= link_to 'Plans and Pricing', pricing_path %>
  </div>
</div> <!-- div#right -->

<div class="clear"></div> <!-- div.clear -->
