<div id="price1" class="plan">
  <div class="price">
    <div class="name">Free</div>
    <div class="cost"><span class="dollar">$</span><strong>0</strong>/mo</div>
    <div class="description">
      <div>1 tweet per day</div>
      <div>1 tweet in your queue</div>
    </div> <!-- div.description -->
    <!--
    <div class="who">Who? The meek.</div>
    -->
    <span class="signup">
      <%= link_to 'Sign up', reminder_path %>
    </span>
  </div> <!-- div.price -->
</div> <!-- div#price1 -->

<div id="price2" class="plan">
  <div class="price">
    <div class="name">Standard</div>
    <div class="cost"><span class="dollar">$</span><strong>12</strong>/mo</div>
    <div class="description">
      <div>8 tweets per day</div>
      <div>50 tweet in your queue</div>
    </div> <!-- div.description -->
    <!--
    <div class="who">Who? John Q. Twitter.</div>
    -->
    <span class="signup">
      <%= link_to 'Sign up', reminder_path %>
    </span>
  </div> <!-- div.price -->
</div> <!-- div#price1 -->

<div id="price3" class="plan">
  <div class="price">
    <div class="name">Deluxe</div>
    <div class="cost"><span class="dollar">$</span><strong>30</strong>/mo</div>
    <div class="description">
      <div>200 tweets per day</div>
      <div>1,000 tweets in your queue</div>
    </div> <!-- div.description -->
    <!--
    <div class="who">Who? Twitter power-users.</div>
    -->
    <div class="signup">
      <%= link_to 'Sign up', reminder_path %>
    </div>
  </div> <!-- div.price -->
</div> <!-- div#price1 -->


<div class="clear"></div> <!-- div.clear -->
