<div id="">
  <h2>Whoops! You caught us before we are ready.</h2>
  If you leave your email below we will email you very soon.
</div> <!-- div#left -->

<div id="center">
  <%= render 'interests/form' %>
</div> <!-- div#left -->


<div class="clear"></div> <!-- div.clear -->
